  /* Sticky footer styles
  -------------------------------------------------- */
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 90px;
  }
<<<<<<< HEAD

    body >.container {
    padding: 60px 0 0 0;
    }
=======
  body > .container {
      padding: 60px 0 0 0;
  }
>>>>>>> 4e85dc675b60ad56ea5f287d878635c2ffa8acf0
  .padded {
    padding-top: 30px
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 90px;
    background-color: #f5f5f5;
    padding-top: 20px;
  }
